<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, that page doesn't exist!</p>
            <p>This is most likely due to a typo.
                However, if you found an invalid link report it on our <a target="_blank" href="https://github.com/amytho/pdf-acc-toolset/issues">Issues Page</a>.</p>
        </LayoutView>
    </NotFound>
</Router>
