@using Pdf_Acc_Toolset.Services;
@using Pdf_Acc_Toolset.Services.Tools;

<p>
    @switch(targetTask.Name) {
        case "Attribute Modifier":
            <p>Attr</p>
        break;
        case "List Generator":
            ListGeneration list = (ListGeneration)targetTask;
            <p>List Items: @list.GetListItemCount()</p>
            <p>Labels: @list.GetLabels()</p>
        break;
        case "Table Generator":
            TableGeneration table = (TableGeneration)targetTask;
            <p>Rows: @table.GetRowCount()</p>
            <p>Columns: @table.GetColumnCount()</p>
        break;
        case "Tag Generator":
            TagGeneration tag = (TagGeneration)targetTask;
            <p>Tag Amount: @tag.GetTagCount()</p>
            <p>Tag Type: @Enum.GetName(typeof(Services.Util.TagType), tag.GetTagType())</p>
        break;
        default:
        break;
    }
</p>

@code {
    [Parameter]
    public AccessibilityTask targetTask { get; set; }
}