@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@
@using Pdf_Acc_Toolset.Pages.Tasks;
@inject IJSRuntime JSRuntime;
@page "/export";

<h2 class="text-4xl font-bold">Review and Export</h2>

<p class="text-lg">
    Saving your PDF will start a download for the output file.
    The "download" is how the Toolset exports the PDF.
    The PDF never leaves your device.
    You can choose to run the remaining tasks or just export the file.
</p>

<hr class="w-11/12 text-center m-4">
<h3 class="text-xl">PDF Summary</h3>

@if (canDownload) {
<h4 class="text-lg">Tasks</h4>
<p>A low-opacity task represents a task that is in the queue, but has not yet been ran.</p>


<div class="flex flex-col h-full w-1/2">
    @{taskIndex = 0;}
    @foreach (var task in tasks)
    {
        // Keep track of input
        int loopIndex = taskIndex;
        if (task.TaskComplete) {
            // Render task
            <IndividualTask task="task" addControls="false"/>
        } else {
            // Render task with color shade
            <div class="opacity-60" title="In Queue">
                <div>
                    <IndividualTask task="task" addControls="false"/>
                </div>
            </div>
        }
        // Increase index for the next item
        taskIndex++;
    }
</div>

@if (tasks.Count == 0) {
    <p class="my-8 ml-2 text-red-500 text-lg">No tasks have been ran on this PDF.</p>
}

<div class="flex gap-4 flex-wrap">
    <div>
        <h4 class="text-lg">PDF Info</h4>
        <table class="border-collapse border border-slate-500 table-auto">
            <thead>
                <tr>
                    <th class="border border-slate-700 p-2">Metadata</th>
                    <th class="border border-slate-700 p-2">Value</th>
                </tr>
            </thead>
            <tr>
                <td class="border border-slate-700 p-2">Filename</td>
                <td class="border border-slate-700 p-2">@info.filename</td>
            </tr>
            <tr>
                <td class="border border-slate-700 p-2">Title</td>
                <td class="border border-slate-700 p-2">@info.title</td>
            </tr>
            <tr>
                <td class="border border-slate-700 p-2">Language</td>
                <td class="border border-slate-700 p-2">@info.lang</td>
            </tr>
            <tr>
                <td class="border border-slate-700 p-2">Standard</td>
                <td class="border border-slate-700 p-2">@info.standard</td>
            </tr>
        </table>
    </div>

    <div>
        <h4 class="text-lg">Task Info</h4>
        <table class="border-collapse border border-slate-500 table-auto">
            <tr>
                <th class="border border-slate-700 p-2">Task State</th>
                <th class="border border-slate-700 p-2">Value</th>
            </tr>
            <tr>
                <td class="border border-slate-700 p-2">Uncompleted Tasks</td>
                <td class="border border-slate-700 p-2">@info.tasksInQueue</td>
            </tr>
            <tr>
                <td class="border border-slate-700 p-2">Completed Tasks</td>
                <td class="border border-slate-700 p-2">@info.tasksRan</td>
            </tr>
        </table>
    </div>
    <div>
        <h4 class="text-lg">Miscellaneous</h4>
        <table class="border-collapse border border-slate-500 table-auto">
            <tr>
                <th class="border border-slate-700 p-2">Key</th>
                <th class="border border-slate-700 p-2">Value</th>
            </tr>
            <tr>
                <td class="border border-slate-700 p-2">PDF Version</td>
                <td class="border border-slate-700 p-2">@info.version</td>
            </tr>
            <tr>
                <td class="border border-slate-700 p-2">Page Count</td>
                <td class="border border-slate-700 p-2">@info.pageCount</td>
            </tr>
        </table>
    </div>
</div>
    <hr class="w-11/12 text-center m-4">

    <div class="flex space-x-4 mt-2 flex-row">
        <button @onclick="RunQueueAndSavePdf" class="p-2 bg-emerald-700 hover:bg-emerald-600 font-bold rounded-lg">Run Queue and Export</button>
        <button @onclick="SavePdf" class="p-2 bg-emerald-700 hover:bg-emerald-600 font-bold rounded-lg">Export PDF</button>
    </div>
} else {
    <p class="text-lg text-red-500">You must import a PDF to view this page. When a PDF is imported the metadata and changes will be displayed.</p>
}
