@* Copyright (C) Jonathan Shull - See license file at github.com/amytho/pdf-acc-toolset *@

<PageTitle>Tools</PageTitle>

<div class="py-4 px-2">
    <div class="flex flex-wrap">
        <button class="bg-emerald-900 hover:bg-emerald-800 p-4 m-2 rounded-lg cursor-pointer"
        @onclick="@(e => SelectTool(e, 0))">List Generator</button>
        <button class="bg-emerald-900 hover:bg-emerald-800 p-4 m-2 rounded-lg cursor-pointer"
        @onclick="@(e => SelectTool(e, 1))">Table Generator</button>
        <button class="bg-emerald-900 hover:bg-emerald-800 p-4 m-2 rounded-lg cursor-pointer"
        @onclick="@(e => SelectTool(e, 2))">Tag Generator</button>
        <button class="bg-emerald-900 hover:bg-emerald-800 p-4 m-2 rounded-lg cursor-pointer"
        @onclick="@(e => SelectTool(e, 3))">Attribute Modifier</button>
        <button class="bg-emerald-900 hover:bg-emerald-800 p-4 m-2 rounded-lg cursor-pointer"
        @onclick="@(e => SelectTool(e, 4))">Color Replacer</button>
        <button class="bg-emerald-900 hover:bg-emerald-800 p-4 m-2 rounded-lg cursor-pointer"
        @onclick="@(e => SelectTool(e, 5))">Tag Shift</button>
        <button class="bg-emerald-900 hover:bg-emerald-800 p-4 m-2 rounded-lg cursor-pointer"
        @onclick="@(e => SelectTool(e, 6))">Tag Reparent</button>
        <button class="bg-emerald-900 hover:bg-emerald-800 p-4 m-2 rounded-lg cursor-pointer"
        @onclick="@(e => SelectTool(e, 7))">Remove Empty Tags</button>
    </div>
</div>


@code {
    [Parameter]
    public bool enabled { get; set; }

    [Parameter]
    public EventCallback<int> OnToolSelected { get; set; }

    private void SelectTool(MouseEventArgs e, int tool)
    {
        this.OnToolSelected.InvokeAsync(tool);
    }
}